In [15]:
import pandas as pd
# # add try accept here, test?
# oh yah, so I can create a test function ensuring the that file is present?
# can I create a test that will assert the file is of type. csv?
# Create a variable for the file path
#filename = 2019-2020.CLEANED.NHLStatsPersonalLapTopCopy.xlsx
#file patch = C:/Users/jpkee/Documents/My Tableau Repository/Datasources
# nbaStats = pd.read_csv("C:/Users/jpkee/Desktop/PythonProjects/NBA 2018-19 Season.csv")
nhlStats = pd.read_excel("C:/Users/jpkee/Documents/My Tableau Repository/Datasources/2019-2020.CLEANED.NHLStatsPersonalLapTopCopy.xlsx")

nhlStats.shape

(883, 26)

In [22]:
nhlStats.head()

,Rk,Player,Age,Tm,Pos,GP,CF,CA,CF%,CF% rel,...,PDO,oZS%,dZS%,TOI/60,TOI(EV),TK,GV,E+/-,SAtt.,Thru%
0,289,Zemgus Girgensons,26,BUF,C,69,605,634,48.8,-0.7,...,100.4,38.1,61.9,13:48:00,11:36:00,13,11,-4.5,144,59.0
1,132,Zdeno Chara,42,BOS,D,68,1012,1164,46.5,-6.5,...,104.8,35.7,64.3,21:01:00,17:27:00,26,52,-4.6,155,55.5
2,754,Zack Smith,31,CHI,C,50,406,487,45.5,-4.1,...,102.3,41.5,58.5,11:47:00,10:21:00,21,14,-5.7,76,56.6
3,513,Zack MacEwen,23,VAN,C,17,135,180,42.9,-4.2,...,111.5,46.3,53.7,09:37:00,09:14:00,4,8,-2.2,31,54.8
4,420,Zack Kassian,29,EDM,RW,59,810,873,48.1,1.2,...,101.0,54.8,45.2,15:40:00,15:10:00,26,45,3.0,164,60.4

In [24]:
nhlStats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 883 entries, 0 to 882
Data columns (total 26 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rk       883 non-null    int64
 1   Player   883 non-null    object
 2   Age      883 non-null    int64
 3   Tm       883 non-null    object
 4   Pos      883 non-null    object
 5   GP       883 non-null    int64
 6   CF       883 non-null    int64
 7   CA       883 non-null    int64
 8   CF%      883 non-null    float64
 9   CF% rel  883 non-null    float64
 10  FF       883 non-null    int64
 11  FA       883 non-null    int64
 12  FF%      883 non-null    float64
 13  FF% rel  883 non-null    float64
 14  oiSH%    879 non-null    float64
 15  oiSV%    882 non-null    float64
 16  PDO      878 non-null    float64
 17  oZS%     882 non-null    float64
 18  dZS%     882 non-null    float64
 19  TOI/60   883 non-null    object
 20  TOI(EV)  883 non-null    object
 21  TK       883 non-null    int64
 22  GV       883 non-null    int64
 23  E+/-     883 non-null    float64
 24  SAtt.    883 non-null    int64
 25  Thru%    876 non-null    float64
dtypes: float64(11), int64(10), object(5)
memory usage: 179.5+ KB

In [29]:
# grab a couple columns
# per https://data36.com/pandas-tutorial-1-basics-reading-data-files-dataframes-data-selection/
# the outer bracket frames tell pandas that you want to select columns, 
# and the inner brackets are for the list of the column names.
nhlStats[['Rk', 'Player']]

      Rk             Player
0    289  Zemgus Girgensons
1    132        Zdeno Chara
2    754         Zack Smith
3    513       Zack MacEwen
4    420       Zack Kassian
..   ...                ...
878  233          Adam Erne
879   96        Adam Brooks
880   77       Adam Boqvist
881  584         Aaron Ness
882  221       Aaron Ekblad

[883 rows x 2 columns]

In [31]:
nhlStats.sample(3)

,Rk,Player,Age,Tm,Pos,GP,CF,CA,CF%,CF% rel,...,PDO,oZS%,dZS%,TOI/60,TOI(EV),TK,GV,E+/-,SAtt.,Thru%
285,726,Mikhail Sergachev,21,TBL,D,70,1177,1046,52.9,1.3,...,101.5,54.7,45.3,20:22:00,17:01:00,18,39,5.7,274,43.1
95,359,Taro Hirose,23,DET,LW,26,201,255,44.1,-3.6,...,93.4,49.2,50.8,12:33:00,10:04:00,6,20,-5.2,39,53.8
178,168,Rasmus Dahlin,19,BUF,D,59,889,829,51.7,4.0,...,99.6,58.9,41.1,19:18:00,15:49:00,16,42,-5.5,219,41.1

In [40]:
nhlStats.loc[:, ['GP']].median()

GP    53.0
dtype: float64

In [41]:
nhlStats.loc[:, ['Age']].median()

Age    26.0
dtype: float64

In [42]:
nhlStats.loc[:, ['CF']].median()

CF    588.0
dtype: float64

In [43]:
nhlStats.describe()

,Rk,Age,GP,CF,CA,CF%,CF% rel,FF,FA,FF%,...,oiSH%,oiSV%,PDO,oZS%,dZS%,TK,GV,E+/-,SAtt.,Thru%
count,883.000000,883.000000,883.000000,883.000000,883.000000,883.000000,883.000000,883.000000,883.000000,883.000000,...,879.000000,882.000000,878.000000,882.000000,882.000000,883.000000,883.000000,883.000000,883.000000,876.000000
mean,442.000000,26.171008,44.109853,576.941110,575.185730,48.923103,-1.067837,434.800680,433.612684,48.978029,...,8.472810,91.128118,99.521982,49.632426,50.368254,17.864100,23.209513,0.121631,138.736127,55.594977
std,255.044441,4.054780,24.447647,395.987687,376.120906,6.300276,6.267539,298.839351,285.411382,6.515190,...,4.930485,4.289059,5.811578,9.358816,9.358607,15.457633,19.936016,5.065310,110.523140,12.386634
min,1.000000,18.000000,1.000000,1.000000,0.000000,7.700000,-37.700000,0.000000,0.000000,0.000000,...,0.000000,33.300000,33.300000,0.000000,0.000000,0.000000,0.000000,-13.800000,0.000000,0.000000
25%,221.500000,23.000000,20.000000,190.500000,191.500000,46.500000,-3.600000,141.500000,146.000000,46.600000,...,6.900000,89.800000,97.900000,46.025000,45.325000,4.000000,6.500000,-2.800000,39.000000,49.500000
50%,442.000000,26.000000,53.000000,588.000000,625.000000,49.700000,-0.400000,447.000000,465.000000,49.600000,...,8.500000,91.250000,99.900000,50.250000,49.750000,15.000000,20.000000,-0.300000,124.000000,56.200000
75%,662.500000,29.000000,66.000000,905.500000,861.500000,52.300000,2.100000,683.000000,652.000000,52.300000,...,9.900000,92.700000,101.500000,54.675000,53.975000,28.000000,35.000000,2.200000,216.000000,61.625000
max,883.000000,42.000000,71.000000,1587.000000,1557.000000,100.000000,47.800000,1177.000000,1191.000000,100.000000,...,100.000000,100.000000,150.000000,100.000000,100.000000,81.000000,103.000000,27.700000,561.000000,100.000000

In [ ]:
#swap for a different dataset

In [47]:
# NHLStats.V2
nhlStatsV2 = pd.read_excel("C:/Users/jpkee/Documents/My Tableau Repository/Datasources/NHLStats.V2.xlsx")
nhlStatsV2.head(3)

,Rk,Player,Age,Tm,Pos,GP,G,A,PTS,+/-,...,SH.1,S,S%,TOI,ATOI,BLK,HIT,FOW,FOL,FO%
0,1,Justin Abdelkader,32,DET,LW,49,0,3,3,-14,...,0,40,0.0,565,11:32:00,26,103,38,31,55.1
1,2,Pontus Aberg,26,TOR,LW,5,0,1,1,0,...,0,4,0.0,44,08:42:00,1,1,0,0,NaN
2,3,Vitaly Abramov,21,OTT,RW,2,1,0,1,0,...,0,3,33.3,12,05:47:00,0,0,0,0,NaN

In [49]:
# get player name and age
# using the loc bit
nhlStatsV2.shape

(1016, 28)

In [59]:
nhlStatsV2.sort_values(by=['TOI'], ascending=False)

,Rk,Player,Age,Tm,Pos,GP,G,A,PTS,+/-,...,SH.1,S,S%,TOI,ATOI,BLK,HIT,FOW,FOL,FO%
137,130,Thomas Chabot,23,OTT,D,71,6,33,39,-18,...,0,186,3.2,1846,1900-01-01 02:00:00,85,79,0,0,NaN
468,403,Roman Josi,29,NSH,D,69,16,49,65,22,...,0,260,6.2,1779,1900-01-01 01:47:00,108,52,0,0,NaN
113,106,Brent Burns,34,SJS,D,70,12,33,45,-22,...,1,225,5.3,1779,1900-01-01 01:25:00,115,72,0,0,NaN
221,198,Drew Doughty,30,LAK,D,67,7,28,35,-16,...,1,141,5.0,1730,1900-01-01 01:49:00,87,106,0,0,NaN
748,655,Ivan Provorov,23,PHI,D,69,13,23,36,11,...,1,150,8.7,1714,1900-01-01 00:51:00,111,84,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,113,Paul Carey,31,BOS,C,1,0,0,0,-1,...,0,0,NaN,6,06:22:00,1,0,0,0,NaN
905,785,C.J. Suess,25,WPG,LW,1,0,0,0,-1,...,0,0,NaN,6,06:26:00,0,1,1,3,25.0
765,670,Anthony Richard,23,NSH,C,1,0,0,0,-1,...,0,2,0.0,4,04:10:00,0,0,0,0,NaN
808,707,Ashton Sautner,25,VAN,D,1,0,0,0,0,...,0,1,0.0,3,02:49:00,0,0,0,0,NaN
868,750,Dalton Smith,27,BUF,LW,1,0,0,0,1,...,0,0,NaN,1,01:26:00,0,0,0,0,NaN

In [70]:
# now do blocks and hits
# nhlStatsV2.sort_values(by=['HIT'], ascending=False)
nhlStatsV2.sort_values(by=['HIT', 'BLK'], ascending=False)

,Rk,Player,Age,Tm,Pos,GP,G,A,PTS,+/-,...,SH.1,S,S%,TOI,ATOI,BLK,HIT,FOW,FOL,FO%
760,667,Ryan Reaves,33,VEG,RW,71,8,7,15,-5,...,0,61,13.1,720,10:09:00,24,316,24,28,46.2
937,813,Brady Tkachuk,20,OTT,LW,71,21,23,44,-14,...,0,259,8.1,1344,18:56:00,43,303,144,168,46.2
997,867,Tom Wilson,25,WSH,RW,68,21,23,44,-3,...,1,154,13.6,1242,18:16:00,58,253,18,39,31.6
914,794,Brandon Tanev,28,PIT,LW,68,11,14,25,-1,...,1,95,11.6,1004,14:46:00,65,244,6,9,40.0
609,533,Matt Martin,30,NYI,LW,55,5,3,8,-1,...,0,49,10.2,573,10:25:00,24,242,3,4,42.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,648,Austin Poganski,23,STL,RW,1,0,0,0,0,...,0,0,NaN,6,05:54:00,0,0,0,0,NaN
765,670,Anthony Richard,23,NSH,C,1,0,0,0,-1,...,0,2,0.0,4,04:10:00,0,0,0,0,NaN
808,707,Ashton Sautner,25,VAN,D,1,0,0,0,0,...,0,1,0.0,3,02:49:00,0,0,0,0,NaN
868,750,Dalton Smith,27,BUF,LW,1,0,0,0,1,...,0,0,NaN,1,01:26:00,0,0,0,0,NaN
935,811,Conor Timmins,21,COL,D,2,0,0,0,2,...,0,1,0.0,21,10:25:00,0,0,0,0,NaN