<!-- Generator: Adobe Illustrator 24.1.1, SVG Export Plug-In  -->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="166.03px" height="95.64px" viewBox="0 0 166.03 95.64" style="enable-background:new 0 0 166.03 95.64;"
	 xml:space="preserve">
<style type="text/css">
	.st0{fill:#E21717;}
</style>
<defs>
</defs>
<rect x="95.87" y="54.59" class="st0" width="42.74" height="7.99"/>
<rect x="53.61" y="38" transform="matrix(0.7598 0.6502 -0.6502 0.7598 46.6686 -41.266)" class="st0" width="51.13" height="9.05"/>
<path class="st0" d="M64.14,29.74h-6.46c-0.38,0-0.68-0.3-0.68-0.68V15.21c0-0.38,0.3-0.68,0.68-0.68h6.46
	c0.38,0,0.68,0.3,0.68,0.68v13.85C64.82,29.44,64.51,29.74,64.14,29.74z"/>
<path class="st0" d="M40.13,61.79L40.13,61.79c-1.57-0.85-2.16-2.82-1.3-4.39l17.15-31.61c0.85-1.57,2.82-2.16,4.39-1.3l0,0
	c1.57,0.85,2.16,2.82,1.3,4.39L44.52,60.49C43.67,62.06,41.7,62.64,40.13,61.79z"/>
<path class="st0" d="M119.25,7.96h-13.64c-1.83,0-3.32-1.49-3.32-3.32V4.51c0-1.83,1.49-3.32,3.32-3.32h13.64
	c1.83,0,3.32,1.49,3.32,3.32v0.13C122.57,6.47,121.09,7.96,119.25,7.96z"/>
<rect x="112.83" y="7.45" class="st0" width="6.06" height="8.17"/>
<path class="st0" d="M60.98,8.23L45.87,6.62c-1.82-0.19-3.14-1.83-2.95-3.65v0c0.19-1.82,1.83-3.14,3.65-2.95l15.11,1.61
	c1.82,0.19,3.14,1.83,2.95,3.65v0C64.44,7.11,62.8,8.43,60.98,8.23z"/>
<rect x="58.35" y="5.28" class="st0" width="4.98" height="10.21"/>
<path class="st0" d="M42.84,89.85H42.2c-2.08,0-3.77-1.69-3.77-3.77V38.28c0-2.08,1.69-3.77,3.77-3.77h0.64
	c2.08,0,3.77,1.69,3.77,3.77v47.81C46.6,88.17,44.92,89.85,42.84,89.85z"/>
<path class="st0" d="M117.3,27.04l-14.41,26.56c-0.87,1.61-2.89,2.21-4.5,1.33l-0.11-0.06c-1.61-0.87-2.21-2.89-1.33-4.5
	l14.41-26.56c0.87-1.61,2.89-2.21,4.5-1.33l0.11,0.06C117.58,23.41,118.17,25.43,117.3,27.04z"/>
<path class="st0" d="M3.15,82.23c0.01-16.65,0.02-33.3,0.03-49.95c0-0.04,0-0.08,0.01-0.13c0.19-1.37,0.55-2.99,1.26-4.74
	c1.83-4.54,4.93-7.32,6.72-8.68c0.98-0.76,2.28-1.62,3.91-2.38c1.28-0.6,2.48-0.99,3.5-1.26c0.06-0.02,0.11-0.02,0.16-0.03
	c2.72-0.44,7.24-0.55,10.42-0.21c0.19,0.02,1.04,0.11,2.12,0.34c0.83,0.17,1.22,0.3,1.42,0.37c0.39,0.13,0.79,0.31,1.45,0.65
	c0.36,0.19,0.87,0.47,3.4,2.18c0.25,0.17,0.64,0.44,1.11,0.85c0.38,0.34,0.64,0.62,0.77,0.77c1.94,2.16,2.91,3.23,3.91,4.68
	c1.46,2.11,2.1,3.58,2.26,3.96c0.68,1.62,1.02,2.43,0.72,3.02c-0.84,1.66-5.89,1.93-7.83-0.34c-1.17-1.37-0.43-2.77-2.21-5.02
	c-0.8-1.01-1.63-1.76-1.87-1.96c-0.93-0.76-1.75-1.19-2.32-1.48c-0.66-0.34-1.67-0.79-2.89-1.11c-2.61-0.68-4.8-0.42-5.59-0.31
	c-7.5,0.99-11.49,7.58-11.81,8.52c-0.17,0.48-0.27,2.1-0.26,2.17c0,0,0.01,0.03,0.01,0.08c0,0.02,0,0.04,0,0.07
	c0.01,16.84,0.02,33.68,0.03,50.52c0.03,3.54-2.05,6.11-3.85,6.23C5.75,89.18,2.96,86.43,3.15,82.23z"/>
<path class="st0" d="M120.32,15.6H62.78c-1.25,0-2.26,1.01-2.26,2.26v3.4c0,1.25,1.01,2.26,2.26,2.26h57.53
	c1.25,0,2.26-1.01,2.26-2.26v-3.4C122.57,16.61,121.56,15.6,120.32,15.6z"/>
<rect x="123.4" y="16.45" transform="matrix(0.8888 -0.4583 0.4583 0.8888 -3.5602 62.7317)" class="st0" width="8.14" height="44.5"/>
<circle class="st0" cx="137.86" cy="58.42" r="4.23"/>
<path class="st0" d="M43.57,29.68"/>
<path class="st0" d="M102.89,95.64"/>
<path class="st0" d="M137.86,32.04c-15.56,0-28.17,13.17-28.17,29.41c0,16.24,12.61,29.41,28.17,29.41s28.17-13.17,28.17-29.41
	C166.03,45.21,153.42,32.04,137.86,32.04z M137.86,82.03c-10.89,0-19.72-9.22-19.72-20.58c0-11.37,8.83-20.58,19.72-20.58
	c10.89,0,19.72,9.22,19.72,20.58C157.58,72.81,148.75,82.03,137.86,82.03z"/>
<path class="st0" d="M41.28,29.88c-15.56,0-28.17,13.17-28.17,29.41c0,16.24,12.61,29.41,28.17,29.41s28.17-13.17,28.17-29.41
	C69.45,43.04,56.84,29.88,41.28,29.88z M41.28,79.87c-10.89,0-19.72-9.22-19.72-20.58c0-11.37,8.83-20.58,19.72-20.58
	C52.17,38.7,61,47.92,61,59.29C61,70.65,52.17,79.87,41.28,79.87z"/>
<path class="st0" d="M7.6,88.77"/>
<path class="st0" d="M53.79,20.91"/>
<path class="st0" d="M0,17.25"/>
<path class="st0" d="M16.09,33.13"/>
<polygon class="st0" points="95.06,61.94 95.66,62.59 96.07,62.59 96.47,61.94 "/>
</svg>

**Selecting Subsets of Data from DataFrames with just the Brackets**

*Master Data Analysis with Python - Intro to Pandas*

Section 3 - 
https://www.udemy.com/course/master-data-analysis-with-python-intro-to-pandas/learn/lecture/13948302?start=0#overview

In [1]:
# See http://localhost:8888/notebooks/Desktop/PythonProjects/FreeUdemyCoursePandas.ipynb for earlier stuff

In [2]:
# Selecting Subsets of Data w Just the Brackets
# -- 3 indexers - [], [iloc], [loc]
# Primary purpose of JUST the brackets is to select a column

# so you can select only rows, only columns or cells

# indexing is aka subsetting

In [3]:
# integer location = iloc

In [4]:
import pandas as pd
sampleData = pd.read_csv('C:/Users/jpkee/Desktop/PythonProjects/Master Data Analysis with Python - Intro to pandas/data/sample_data.csv', index_col=0)

In [5]:
sampleData.head()

In [6]:
# grabbing just the age column
sampleData['age']

Jane         30
Niko          2
Aaron        12
Penelope      4
Dean         32
Christina    33
Cornelia     69
Name: age, dtype: int64

In [7]:
# now grab multiple columns, by creating list, aka an 'inner' list, aka 2 sets of brackets
sampleData[['age', 'score']]

           age  score
Jane        30    4.6
Niko         2    8.3
Aaron       12    9.0
Penelope     4    3.3
Dean        32    1.8
Christina   33    9.5
Cornelia    69    2.2

In [8]:
# you can also just make the list first, and column order doesn't matter
myNeededColumns = ['age', 'score', 'height']

In [17]:
#then stick pull the list
sampleData[myNeededColumns]

           age  score  height
Jane        30    4.6     165
Niko         2    8.3      70
Aaron       12    9.0     120
Penelope     4    3.3      80
Dean        32    1.8     180
Christina   33    9.5     172
Cornelia    69    2.2     150

In [18]:
movies = pd.read_csv('C:/Users/jpkee/Desktop/PythonProjects/Master Data Analysis with Python - Intro to pandas/data/movie.csv', index_col='title')
movies.head(1)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9

In [19]:
movies['director_name'].head(1)

title
Avatar    James Cameron
Name: director_name, dtype: object

In [12]:
dLikes = ['director_name', 'director_fb']

In [20]:
movies[dLikes].head()

                                                director_name  director_fb
title
Avatar                                          James Cameron          0.0
Pirates of the Caribbean: At World's End       Gore Verbinski        563.0
Spectre                                            Sam Mendes          0.0
The Dark Knight Rises                       Christopher Nolan      22000.0
Star Wars: Episode VII - The Force Awakens        Doug Walker        131.0

In [14]:
movies[['country']].head(1)

       country
title
Avatar     USA

In [23]:
# don't forget you can use 'ls' etc to navigate here:
movies[['director_fb']]

                                            director_fb
title
Avatar                                              0.0
Pirates of the Caribbean: At World's End          563.0
Spectre                                             0.0
The Dark Knight Rises                           22000.0
Star Wars: Episode VII - The Force Awakens        131.0
...                                                 ...
Signed Sealed Delivered                             2.0
The Following                                       NaN
A Plague So Pleasant                                0.0
Shanghai Calling                                    0.0
My Date with Drew                                  16.0

[4916 rows x 1 columns]

In [16]:
# movies[['title', 'director_fb', 'plot_keywords']]